##############################################
#                                            #
#     Sample Env file for docker-compose     #
#                                            #
##############################################

COMPOSE_PROJECT_NAME=cozy
DOMAIN=localhost

# CouchDB
COUCHDB_PROTOCOL=http
COUCHDB_HOST=couchdb
COUCHDB_PORT=5984
COUCHDB_USER=cozy
COUCHDB_PASSWORD=SomeRandomlyGeneratedString

# Redis
REDIS_ADDRS=redis:6379

# Stack
COZY_ADMIN_PASSPHRASE=cozy
COZY_SUBDOMAINS=flat
COZY_PASSWORD_RESET_INTERVAL=15m
